<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>List My Friends</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>

  <body>
    <h1>List My Friends</h1>

    <form method="POST" action="/list_my_friends">
      <input type="text" name="string">
      <input type="text" name="string">
      <input type="text" name="string">
      <input type="text" name="string">
      <input type="submit">
    </form>
  </body>
</html>